<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/styles.css" rel="stylesheet">
    <title>Confirmation Page</title>
</head>
<body>
    <main>
        <form id="confirm-form">
            <img src="/images/Eo_circle_green_white_checkmark.svg.png" alt="green circle with white checkmar">
            <h2>Thank You For Your Order!</h2>
            <p>Your ice cream order has been confirmed</p>

            <div id="summary-div">
               
                    <div id="name-email">
                        <label for="personal-info" id="personal-info" class="summary-title">Personal Information</label>
                        <label for="name" id="name">Name: </label>
                        <label for="email" id="email">Email: </label>
                    </div>

                    <div id="order-details">
                        <label for="order" id="order" class="summary-title">Order Details</label>
                        <label for="flavor" id="flavor">Flavor: </label>
                        <label for="cone" id="cone">Cone Type: </label>
                        <label for="toppings" id="toppings">Toppings: </label>
                    </div>

                    <div id="comments-div">
                        <label for="comments" id="comments" class="summary-title">Additional Comments</label>
                        <div id="comment-message">

                        </div>
                    </div>

                    <div id="button-div">
                        <button id="printBTN">Print Order</button>
                        <button id="anotherBTN"> Place Another Order</button>
                    </div>
               
            </div>

        </form>
    </main>
    
</body>
</html>