*{
    box-sizing: border-box;
}
body{
    background-color: lightblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
main{
    background-color:white;
    width: 60%;
    padding: 0 1rem 10rem 1rem;
    margin: 0 auto 2rem auto;
    border-radius: 2rem;
    flex-wrap:wrap-reverse;
}
form legend{
    color:green;
}
h1, h2{
    text-align: center;  
}
h1{
    padding-top: 5rem;

}
h2{
    font-size: 30px;
}
p{
    text-align: center;
}

#info{
    display: flex;
    flex-direction: column;
    padding-bottom: 1%;  
    
}
legend{
    text-align: center;
}
#flavordiv{
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}
#comments{
    height: 5rem;
    width: 100%;
    
}
#conediv{
    padding-bottom: 1rem;
}
#toppingdiv{
    padding-bottom: 1rem;
}
button{
    width: 100%;
    background-color: green;
    border-radius: .3rem;
    height: 2rem;
    color: white;
}
#info{
    display: flex;
    justify-content: space-between;
}
.error{
    color: red;
    display: none;
}



#summary-div {
    background-color: #f8f9fa;
    border-radius: 0.75rem;
    padding: 1.5rem;
    text-align: left;
}

.summary-title {
    color: #2ecc71;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0.5rem;
}


#name-email,
#order-details
{
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    line-height: 2rem;
}

#comments-div {
    border-bottom: none;
}


#comment-message {
    border-radius: 0.5rem;
    background: white;
    padding: 0.75rem;
    color: #555;
    font-style: italic;
    height: 5rem;
    border-left-style: solid;
    border-left-color: #5a4be7;
}


#button-div {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

#button-div button {
    font-weight: 600;
    border-radius: 0.5rem;
    cursor: pointer;
    text-align: center;
}
#printBTN{
    color:#5a4be7;
    background-color: white;
    border-color: #5a4be7;
}


img{
    height: 65px;
    display: flex;
    justify-self: center;
}